* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3e8f5; /* Un morado muy clarito, ajusta con tu Figma */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fuente base */
  color: #3b204d; /* Color de texto oscuro para buen contraste */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ocupa toda la altura de la pantalla */
}